.hidden {
    display: none;
}
.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dropdownbtn {
    width: 300px;
}
.dropdownList {
    list-style-type: none;
}
.dark-mode {
    background-color: black;
    color: white;
}
